<!DOCTYPE html>
<html lang="en" ng-app="timeSheetApp">

<head>
  <meta charset="UTF-8">
  <title>Time Sheet</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-controller="timeSheetController" class="container">
  <h2>TimeSheet Entries</h2>


  <div class="top">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="TASK">
    </mat-form-field>
    <div>
      <button ng-click="addEntry()">Search</button>
      <button ng-click="addEntry()">Create</button>
    </div>
  </div>

  <!-- <table border="1">
    <thead>
      <tr>
        <th>Date</th>
        <th>Hours Worked</th>
        <th>Task</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entry in timeSheetEntries">
        <td>{{ entry.date }}</td>
        <td>{{ entry.hours }}</td>
        <td>{{ entry.task }}</td>
      </tr>
    </tbody>
  </table> -->
</body>

</html>